@use "../../../scss/variables" as *;

.swatch_type {
    display: flex;
    gap: .5rem;
    .swatch_type_item {
        width: 2rem;
        height: 2rem;
        border: 1px solid $colorNeutralLight;
        cursor: pointer;
    }
}