@use "../../scss/variables" as *;

.minicart_item {
  display: flex;
  gap: 0.8rem;
  margin: 0.25rem 0;
  .minicart_item_details {
    flex-shrink: 0;
    width: 7.5rem;
  }
  .swatch {
    gap: 0.5rem;
    div {
      width: 1rem;
      height: 1rem;
      cursor: default;
    }
  }
  .text {
    gap: 0.5rem;
    div {
      padding: 0 3px;
      min-width: 1.5rem;
      font-size: 0.875rem;
      line-height: 22px;
      cursor: default;
    }
  }

  h2 {
    font-weight: 300;
  }
  h3 {
    font-weight: 500;
    margin-top: 0.5rem;
  }
  p {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
  .minicart_item_quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    div {
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: 300;
      border: 1px solid $colorNeutral;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      line-height: 1.4rem;
      &.substract {
        line-height: 1.1rem;
      }
    }
  }
  .minicart_item_img {
    width: 7rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
