@use "../../scss/variables" as *;
.category_page {
 
  h1 {
    font-size: 2.625rem;
    text-transform: capitalize;
  }
  .products {
    padding: 7rem 0;
    display: grid;
    justify-content: center; 
    gap: 40px;
    @media screen and ($tablet) {
      grid-template-columns: repeat(auto-fill, 360px);
    }
}
}


