@use "../../scss/variables" as *;

header {
  padding: 1rem 2rem;
  padding-bottom: 0;
  position: fixed;
  min-height: $mobileHeaderH;
  z-index: 5;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @media screen and ($desktop) {
    min-height: $desktopHeaderH;
    padding: 1.5rem 6.25rem;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    @media screen and ($desktop) {
      position: absolute;
      left: calc(50vw - 30px);
      margin: 0;
    }
  }
  .header_icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    align-self: flex-end;
    
    @media screen and ($desktop) {
      align-self: center;
    }
  }
}
