@use "./scss/reset";
@use "./scss/variables" as *;
@use "./scss/mixins";

//shared
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  @include mixins.font(400, $colorNeutral);
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: $sizeContent;
  @media screen and (min-width: $desktop) {
    width: 80%;
  }
}
button {
  padding: 1rem 1.5rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
 
}
.btn_primary {
  background-color: $colorPrimary;
  color: white;
  &:hover {
    background-color: $colorPrimaryDark;
  }
}
.btn_secondary {
  background-color: white;
  border: 1px solid $colorNeutral;
  color: $colorNeutral;
  &:hover {
    background-color: $colorNeutralLight;
    border-color: $colorNeutralLight;;
    color: white;
  }
}
