@use "./scss/reset";
@use "./scss/variables" as *;
@use "./scss/mixins";

//shared
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
  @include mixins.font(400, $colorNeutral);
  }
  .container {
    padding: 5rem 6.25rem;
  }
  h1 {
    font-size: 2.625rem;
    text-transform: capitalize;
  }