$colorPrimary: #5ECE7B;
$colorPrimaryDark: #32a250;
$colorNeutral: #1D1F22;
$colorNeutralLight: #8D8F9A;
$colorNeutralVeryLight: #E5E5E5;

$sizeContent: 1440px;

$tablet: "min-width: 450px";
$desktop: "min-width: 900px"